<form action="/addnew" method="POST">
  <div class="field">
    <label class="label">Enter Name</label> <input class="input" type="text" placeholder="Dormitory" name="name">
  </div>
  <div class="field">
    <label class="label">Enter Zip Code</label> <input class="input" type="text" placeholder="93051" name="zipCode">
  </div>
  <div class="field">
    <div class="select">
      <select name="category">
        {{#each categories }}
          <option> {{name}} </option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button class="button is-link is-light">Add New PlaceMark</button>
    </div>
  </div>
</form>